footer{
    border-top: 1px solid #b6b1b1;
    grid-area: footer;
    color: #94969f;
    text-align: center;
    padding: 15px;
} 


.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 0.8em;
    color: #555;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
}

.footer-section:last-child {
    margin-right: 0;
}

.footer-section h4 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-links a {
    text-decoration: none;
    color: #555;
}

.app-links img {
    height: 40px;
    margin-right: 5px;
}

.popular-searches {
    padding: 15px;
    background-color: #f9f9f9;
    text-align: left;
    font-size: 0.75em;
    color: #777;
}

.popular-searches h5 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
}

.popular-searches p {
    margin-top: 0;
    margin-bottom: 0;
}

.popular-searches a {
    text-decoration: none;
    color: #777;
    margin-right: 5px;
}
